@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      @apply font-roboto;
   }
   body {
      @apply bg-[#F5F5F5];
   }
   li {
      @apply text-[#F9F9F9] cursor-pointer tracking-wide;
   }
}